<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" itemscope=""
           itemtype="https://schema.org/Car"
           style="background-image: linear-gradient(to right, dimgray, black, dimgray)">
          <a class="navbar-brand" href="#">
              <img src="http://pngimg.com/uploads/love/love_PNG10.png" style="height: 80px; margin-left:300px" class="d-inline-block align-top" alt="">
              <span style="font-size:50px; font-family:sans-serif; color:red" class="danger">LOVE   IS ...</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon gamburger"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-left:120px">
              <ul class="navbar-nav mr-auto">
                  <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  <li>@Html.ActionLink("About", "About", "Home")</li>
                  <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
              </ul>
              @Html.Partial("_LoginPartial")
          </div>
      </nav>
  </div>
</div>
<router-outlet></router-outlet>
